.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

.features-item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
  }
}

.features-icon-wraper {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;

    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
}
