.hero-section {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2e2f42;

  max-width: 1440px;
  padding: 72px 0;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 112px 0;
  }

  @media screen and (min-width: 1158px) {
    padding: 188px 0;
  }
}

.hero-title {
  max-width: 210px;
  margin: 0 auto 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;

  text-align: center;
  color: #fff;

  @media screen and (min-width: 768px) {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07143;
  }

  @media screen and (min-width: 1158px) {
    margin-bottom: 48px;
  }
}

.hero-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;

  background-color: #4d5ae5;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #404bbf;
  }
}
