.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* desktop
line-height: 1.17; */

.logo-studio {
  color: #2e2f42;
}

.header .logo {
  @media screen and (min-width: 768px) {
    margin-right: 120px;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 76px;
  }
}

.footer .logo {
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer .logo-studio {
  color: #f4f4fd;
}
