.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-card-wraper {
  padding: 32px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-section .section-title {
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-card {
  background-color: white;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;

  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  margin-bottom: 72px;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}
