.social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #404bbf;
  }
}

/* Замість:
&:hover,
&:focus {
} 

Можна написати так:
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
} */

.footer .social {
  gap: 16px;
  /* Desktop
  justify-content: flex-start; */
}

.mobile-menu .social {
  gap: 40px;
  justify-content: flex-start;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
